---
import Monkey from "../islands/Monkey.tsx";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
    <div class="flex flex-col justify-center content-center">
    	<h1 class="text-center text-8xl font-bold">Astro</h1>
      <div class="flex-1 h-screen">
        <Monkey client:only="react" />
      </div>    
    </div>
	</body>
</html>
